<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cadastrar produtos
        link(rel="stylesheet", href="../css/stylus.css")
        link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.1/css/all.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-primary#navSuperior
            div.container
                a(href="https://uds.com.br/").navbar-brand
                    strong UDS
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse#navbarSupportedContent
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(href="dashboard.html").nav-link <i class="fas fa-home"></i> Home
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a(href="http://").nav-link <i class="fas fa-user"></i> email@email.com
                            
                        li( data-toggle="tooltip" data-placement="bottom" title="Encerrar").nav-item
                            a(href="index.html").nav-link <i class="fas fa-power-off"></i>
                                                       
        div.container
            nav(aria-label="breadcrumb")#ondeestou
                ol.breadcrumb.alert.alert-info
                    li(aria-current="page").breadcrumb-item 
                        strong Você está em
                    li(aria-current="page").breadcrumb-item Produtos
                    li(aria-current="page").breadcrumb-item.active Cadastrar produtos

            main
                div.card#painelPrincipal.shadow-lg.p-3.mb-5.bg-white.rounded 
                    div.card-header
                        div.col-md-8 Campos obrigatórios
                            span.obg *
                            
                    div.card-body
                        div
                            form(action="produtos.html" metod="post" name="formulario")
                                div.row
                                    div.col-md-2
                                        div.form-group
                                            label Código
                                            span.obg *
                                            input(type="text"  placeholder="0001" data-toggle="tooltip" data-placement="bottom" title="Este valor dever ser gerado automaticamente no banco de dados.").form-control.text-center
                                    div.col-md-8
                                        div.form-group
                                            label Nome do produto
                                            span.obg *
                                            input(type="text" placeholder="Ex: Batata frita - porção").form-control
                                    div.col-md-2
                                        div.form-group
                                            label Valor unitário
                                            span.obg *
                                            input(type="number" step="0.01" placeholder="R$ 25,00").form-control
                                        
                                hr
                                div.row.justify-content-end
                                    div.col-md3
                                        button.btn.btn-success.form-control.botoes(type="submit") Cadastrar
                                    div.col-md3
                                        a(href="produtos.html")
                                            button.btn.btn-primary.form-control.btn.btn-danger.botoes(type="button") Cancelar
                                            
    
    script(src="../node_modules/jquery/dist/jquery.min.js")    
    script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src="../js/localstorage.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js")
    script.
            $(function () {
        $('[data-toggle="popover"]').popover()
        })
            $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
